span Person: #{person.first_name}
= link_to favorite_path(person.favorites.find_user(current_user)), method: :delete, data: { favorite: "#{person.class.name}-#{person.id}" }, remote: true do
  = fa_icon "star"