* {
  box-sizing: border-box;
}

.clearfix { clear: both; }

.pull-left { float: left; }

.pull-right { float: right; }

strong { margin-right: 3px; }

.container {
  margin: auto;
  width: 960px;
}

ul.companies_list {
  list-style: none;

  li {
    border-bottom: 1px solid;
    padding: 10px;
  }
}

.menu{
  margin-bottom: 50px;
  width: 100%;

  a {
    padding: 5px 10px;
  }
}